.BorderPane{
    -fx-background-image: url('file:src/main/resources/picture/theme/Green/Green.png');
}

.AnchorPane{
    -fx-background-image: url('file:src/main/resources/picture/theme/Green/Green.png');
}

#homeButton{
    -fx-background-image: url('file:src/main/resources/picture/Button/b_Home.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#pauseButton{
    -fx-background-image: url('file:src/main/resources/picture/Button/b_Pause.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#playButton{
    -fx-background-image: url('file:src/main/resources/picture/Button//b_Play.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#soundButton{
    -fx-background-image: url('file:src/main/resources/picture/Button/b_Sound.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.button{

    -fx-border-color: transparent;

    -fx-background-color: transparent;

}

.button:focused {
    -fx-background-color: white;
}

.button:pressed {

}

.themeButton{
    -fx-background-color:#F5FFFA;
    -fx-text-fill:#008B8B;
}

.Title{
    -fx-fill:#008B8B;
}

.progress-bar > .bar {
   -fx-background-color: green;
}

.progress-bar > .track {
   -fx-background-color: white;
}

.choice-box{
    -fx-background-color:#F5FFFA;
    -fx-text-fill:#008B8B;
}